{{ define "main" }}
<section class="hero">
  <a href="{{ .Site.BaseURL }}"><img class="hero__avatar" src="{{ .Site.Params.avatar | relURL }}" alt="{{ .Site.Params.author }}" /></a>
  <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
  <p>{{ .Site.Params.description }}</p>
  <div class="hero__social">
    {{ range .Site.Params.social }}
      <a target="_blank" href="{{ .url }}" rel="noreferrer noopener" title="{{ .name }}"><ion-icon name="{{ .icon }}"></ion-icon></a>
    {{ end }}
  </div>
</section>
{{ end }}
