{{ define "main" }}
  {{ partial "header.html" $ }}
  <main class="main">
    <article>
      <h2>Posts</h2>
      <ul class="posts-list">
        {{ range $index, $element := .Paginator.Pages }}
          <li class="posts-list__item">
            <a class="posts-list__item-title" href="{{ .Permalink }}">{{ .Title }}</a>
            <span class="posts-list__item-description">
              <ion-icon name="time"></ion-icon>&nbsp;{{ .ReadingTime }} min read &mdash;
              {{ .PublishDate.Format "Jan 2, 2006" }}
            </span>
          </li>
        {{ end }}
      </ul>
      {{ partial "pagination.html" $ }}
    </article>
  </main>
{{ end }}
