* {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.6;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: $dark-color-1;
  color: $light-color-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hepta Slab", serif;
  color: $light-color-1;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.35s, background 0.35s;

  &:hover {
    color: $primary-color-light;
    transition: color 0.25s, background 0.05s;
  }
}

code {
  font-family: monospace, monospace;
  font-size: 1rem;
  color: $light-color-2;
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: auto;

  code {
    font-size: 0.8rem;
  }
}

::selection {
  background: $primary-color;
  color: $dark-color-2;
}

::-moz-selection {
  background: $primary-color;
  color: $dark-color-2;
}

.icon {
  flex-shrink: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
