* {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.6;
}

body {
  height: 100%;
  margin: 0;
  background: $dark-color-1;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: $light-color-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: $light-color-1;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.35s, background 0.35s;

  &:hover {
    color: $primary-color-light;
    transition: color 0.25s, background 0.05s;
  }
}

code {
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: $light-color-2;
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: auto;

  code {
    font-size: 0.8rem;
  }
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 0.9em;
  width: 100%;

  th,
  td {
    padding: 0.5rem 1rem;
  }

  thead {
    tr {
      border-bottom: 4px solid $primary-color;
      background-color: $dark-color-1;
      color: $light-color-1;
      text-align: left;
      font-weight: bolder;
    }
  }

  tbody {
    tr {
      background-color: $dark-color-3;
    }

    tr:nth-of-type(even) {
      background-color: $dark-color-2;
    }
  }
}

::selection {
  background: $primary-color;
  color: $dark-color-2;
}

::-moz-selection {
  background: $primary-color;
  color: $dark-color-2;
}

.icon {
  flex-shrink: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: $desktop-breakpoint) {
  table {
    width: auto;
    min-width: 20rem;
  }
}
