$dark-color: #212121;
$darkest-color: #1b1b1b;
$light-color: #bdbdbd;
$lightest-color: #ffffff;
$primary-color: #ffeb3b;
$primary-lighter-color: #ffffa8;
$desktop-breakpoint: 940px;

@import "base";
@import "partials/breadcrumb";
@import "partials/hero";
@import "partials/homepage";
@import "partials/latest-posts";
@import "partials/list";
@import "partials/main";
@import "partials/pagination";
@import "partials/preview";
@import "partials/sidebar";
@import "partials/single";
@import "partials/terms";
