$darkest-color: #212121;
$dark-color: #1b1b1b;
$light-color: #bdbdbd;
$lightest-color: #ffffff;
$primary-color: #ffeb3b;
$primary-lighter-color: #ffffa8;

@import "base";

@import "partials/app";
@import "partials/header";
@import "partials/pagination";
@import "partials/post";
@import "partials/posts-list";
@import "partials/tag";

.hero {
  height: 100%;
  padding: 2.5em;
  background: $dark-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    a {
      color: $lightest-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .hero__avatar {
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 100%;
    border: 0.5rem solid $primary-color;
  }

  .hero__social {
    font-size: 2em;
    color: $lightest-color;

    a {
      margin: 0 0.1em;
    }
  }
}
