<section class="hero">
  {{ if .homepage }}
    <h1 class="title">
      <a href="{{ .Page.Site.BaseURL }}">{{ .Page.Site.Title }}</a>
    </h1>
  {{ else }}
    <h2 class="title">
      <a href="{{ .Page.Site.BaseURL }}">{{ .Page.Site.Title }}</a>
    </h2>
  {{ end }}
  <div class="author">
    <img class="avatar" src="{{ .Page.Site.Params.author.avatar | relURL }}" alt="" />
    <div class="details">
      <span>{{ .Page.Site.Params.author.name }}</span>
      <small>{{ .Page.Site.Params.author.title }}</small>
    </div>
    <div class="social">
      {{ range .Page.Site.Params.socialLinks }}
        <a href="{{ .url }}" target="_blank" rel="noreferrer noopener">
          <ion-icon class="icon" name="{{ .icon }}" aria-label="{{ .name }}"></ion-icon>
        </a>
      {{ end }}
    </div>
  </div>
</section>
