<section class="hero">
  {{ if .homepage }}
    <h1 class="hero__title">
      <a href="{{ .Page.Site.BaseURL }}">{{ .Page.Site.Title }}</a>
    </h1>
  {{ else }}
    <h2 class="hero__title">
      <a href="{{ .Page.Site.BaseURL }}">{{ .Page.Site.Title }}</a>
    </h2>
  {{ end }}
  <div class="hero__author">
    <img class="hero__author-avatar" src="{{ .Page.Site.Params.author.avatar | relURL }}" alt="" />
    <div class="hero__author-details">
      <span>{{ .Page.Site.Params.author.name }}</span>
      <span>
        <small>{{ .Page.Site.Params.author.title }}</small>
      </span>
    </div>
    <div class="hero__author-social">
      {{ range .Page.Site.Params.socialLinks }}
        <a target="_blank" href="{{ .url }}" rel="noreferrer noopener" title="{{ .name }}">
          <ion-icon name="{{ .icon }}"></ion-icon>
        </a>
      {{ end }}
    </div>
  </div>

</section>
