<section class="latest-posts">
  <h2>Latest Posts</h2>
  <ul>
    {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
      <li>
        <article>
          <span class="date">
            <span class="sr-only">Published on </span>
            {{ .Page.PublishDate.Format "Jan 2, 2006" }}
          </span>
          <h3>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h3>
        </article>
      </li>
    {{ end }}
  </ul>
  <div class="see-all">
    <a href="{{ .Site.BaseURL }}/posts">See all posts
      <ion-icon class="icon" name="arrow-forward" aria-hidden="true"></ion-icon>
    </a>
  </div>
</section>
