<section class="latest-posts">
  <h2>Latest Posts</h2>
  <ul class="posts-list">
    {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
      <li>
        <article>
          <div class="date">
            <span class="sr-only">Published on</span>
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </div>
          <h3>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h3>
        </article>
      </li>
    {{ end }}
  </ul>
  <div class="see-all">
    <a href="{{ .Site.BaseURL }}/posts">See all posts
      <ion-icon class="icon" name="arrow-forward"></ion-icon>
    </a>
  </div>
</section>
