{{ with $.Paginator }}
  {{ if gt .TotalPages 1 }}
    <nav class="pagination" aria-label="Pagination">
      <ul>
        {{ with .Prev }}
          <li>
            <a href="{{ .URL }}">
              <ion-icon class="icon" name="arrow-back" aria-label="Previous page"></ion-icon>
            </a>
          </li>
        {{ end }}
        {{ range .Pagers }}
          <li class="{{ if eq .PageNumber $.Paginator.PageNumber }}active{{ end }}">
            <a href="{{ .URL }}" {{ if eq .PageNumber $.Paginator.PageNumber }} aria-current="page" {{ end }}>
              <span class="sr-only">Page </span>
              {{ .PageNumber }}
            </a>
          </li>
        {{ end }}
        {{ with .Next }}
          <li>
            <a href="{{ .URL }}">
              <ion-icon class="icon" name="arrow-forward" aria-label="Next page"></ion-icon>
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
{{ end }}
