{{ with $.Paginator }}
  {{ if gt .TotalPages 1 }}
    <nav class="pagination" aria-label="Pagination">
      <ul>
        {{ with .Prev }}
          <li>
            <a href="{{ .URL }}">
              <iconify-icon icon='{{ "fa6-solid:arrow-left" | safeURL }}' aria-label="Previous page"></iconify-icon>
            </a>
          </li>
        {{ end }}
        {{ range .Pagers }}
          <li class="{{ if eq .PageNumber $.Paginator.PageNumber }}active{{ end }}">
            <a href="{{ .URL }}" {{ if eq .PageNumber $.Paginator.PageNumber }} aria-current="page" {{ end }}>
              <span class="sr-only">Page </span>
              {{ .PageNumber }}
            </a>
          </li>
        {{ end }}
        {{ with .Next }}
          <li>
            <a href="{{ .URL }}">
              <iconify-icon icon='{{ "fa6-solid:arrow-right" | safeURL }}' aria-label="Next page"></iconify-icon>
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
{{ end }}
