{{ with $.Paginator }}
  {{ if gt .TotalPages 1 }}
    <nav aria-label="pagination" class="pagination">
      <ul class="pagination__list">
        {{ with .Prev }}
          <li class="pagination__item">
            <a class="pagination__link" href="{{ .URL }}">
              <ion-icon name="arrow-back"></ion-icon>
              <span class="sr-only">
                Previous page
              </span>
            </a>
          </li>
        {{ end }}
        {{ range .Pagers }}
          <li class="pagination__item{{ if eq .PageNumber $.Paginator.PageNumber }} active{{ end }}">
            <a class="pagination__link" href="{{ .URL }}" {{ if eq .PageNumber $.Paginator.PageNumber }} aria-current="page" {{ end }}>
              <span class="sr-only">page
              </span>
              {{ .PageNumber }}
            </a>
          </li>
        {{ end }}
        {{ with .Next }}
          <li class="pagination__item">
            <a class="pagination__link" href="{{ .URL }}">
              <span class="sr-only">
                Next page
              </span>
              <ion-icon name="arrow-forward"></ion-icon>
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
{{ end }}
