<article class="post">
  <header class="post__header">
    {{ if .preview }}
      <h2 class="post__title">
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
      </h2>
    {{ else }}
      <h1 class="post__title">{{ .Page.Title }}</h1>
    {{ end }}
    <div class="post__meta">
      <div class="post__date">
        <ion-icon name="calendar" class="icon"></ion-icon>
        <span>
          <span class="sr-only">Published on</span>
          {{ .Page.PublishDate.Format "Jan 2, 2006" }}
        </span>
      </div>

      {{ with .Page.Params.tags }}
        <div class="post__tags">
          <ion-icon name="pricetag" class="icon"></ion-icon>
          {{ if $.preview }}
            <h3 class="sr-only">Tags</h3>
          {{ else }}
            <h2 class="sr-only">Tags</h2>
          {{ end }}
          <ul>
            {{ range $tag := . }}
              <li>
                <a href='{{ "tags" | relLangURL }}{{ $tag | urlize }}'>{{ $tag }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
    {{ if (and (not $.preview) (isset .Page.Params "links")) }}
      <div class="post__links">
        <h2 class="sr-only">Links</h2>
        <ul>
          {{ range .Page.Params.links }}
            <li>
              <a href="{{ .url }}" target="_blank"><ion-icon name='{{ or .icon "arrow-forward" }}'></ion-icon>{{ .title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </header>
  <div class="post__content">
    {{ if .preview }}
      <p>{{ .Page.Summary | htmlUnescape | plainify }}</p>
    {{ else }}
      {{ .Page.Content }}
    {{ end }}
  </div>
  {{ if .preview }}
    <footer class="post__read-link">
      <a href="{{ .Page.Permalink }}">
        Read more<ion-icon name="arrow-forward"></ion-icon>
      </a>
    </footer>
  {{ end }}
</article>
