<article class="preview">
  <header>
    <div class="date-and-title">
      <span class="date">
        <span class="sr-only">Published on </span>
        {{ .Page.PublishDate.Format "Jan 2, 2006" }}
      </span>
      <h2>
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
      </h2>
    </div>
    {{ with .Page.Params.tags }}
    <aside>
      <ul>
        {{ range $tag := . }}
          <li>
            <a href='{{ "tags/" | relLangURL }}{{ $tag | urlize }}'>
              <ion-icon class="icon" name="pricetag" aria-hidden="true"></ion-icon>
              {{ $tag }}
            </a>
          </li>
        {{ end }}
      </ul>
    </aside>
    {{ end }}
  </header>
  <div class="content">
    <p>{{ .Page.Summary | htmlUnescape | plainify }}</p>
  </div>
  <footer class="read-link">
    <a href="{{ .Page.Permalink }}">
      Read more<ion-icon class="icon" name="arrow-forward" aria-hidden="true"></ion-icon>
    </a>
  </footer>
</article>
