.breadcrumb {
  ol {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;

    li {
      display: flex;
      align-items: center;
      line-height: 1.1;

      a {
        color: $light-color-2;
      }

      a:hover,
      &.active a {
        color: $primary-color;
      }

      &:not(:last-child)::after {
        margin: 0 0.5rem;
        content: "/";
      }
    }
  }
}
