.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  max-width: 32rem;

  .title {
    line-height: 1;
    margin: 0;
    font-size: 2rem;

    a {
      border-radius: 0.2rem;
      color: $light-color-1;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .author {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;

    .avatar {
      max-width: 15rem;
      max-height: 15rem;
      border-radius: 100%;
      border: 0.5rem solid $primary-color;
    }

    .details {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 0.25rem;
    }
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2rem;
    color: $light-color-1;

    a {
      display: inline-flex;
      border-radius: 0.2rem;
    }
  }
}
