.homepage {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  min-height: 100vh;

  > main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
  }

  > aside {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
    background: $dark-color-2;
  }
}
