.latest-posts {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  max-width: 48rem;

  h2 {
    line-height: 1;
    margin: 0;
    font-size: 1.5rem;
    color: $light-color-1;
  }

  > ul {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      background-color: $dark-color-3;
      border-radius: 0.5rem;
      border-left: 0.5rem solid $primary-color;

      > article {
        display: flex;
        flex-flow: column nowrap;
        padding: 1.5rem;
        gap: 1rem;

        .date {
          font-family: "Hepta Slab", serif;
          font-optical-sizing: auto;
          font-weight: normal;
          font-style: italic;
          font-size: 0.8rem;
          color: $light-color-2;
        }

        h3 {
          margin: 0;
          color: $light-color-1;
          font-size: 1.1rem;
          line-height: 1.5;

          a {
            color: $light-color-1;
            border-radius: 0.2rem;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .see-all {
    a {
      display: inline-flex;
      align-items: center;
      gap: 0.2rem;
      border-radius: 0.2rem;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .latest-posts {
    > ul {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1rem;
    }
  }
}
