.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;

  h1 {
    margin: 0 0 0 -2rem;
    padding-left: 1rem;
    border-left: 1rem solid $primary-color;
    color: $lightest-color;
    font-size: 2rem;
    line-height: 1.1;
  }

  > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (min-width: $desktop-breakpoint) {
  .main {
    max-width: 65rem;
    margin-left: 20rem;
  }
}
