.pagination {
  .pagination__list {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.8em;

    .pagination__item {
      display: flex;
      align-items: center;
      padding: 0.285em 0.8em;
      border-radius: 2em;

      .pagination__link {
        color: $primary-color;
        display: flex;
        align-items: center;
        gap: 0.5em;

        &:hover {
          color: $primary-lighter-color;
        }
      }

      &.active {
        background: $primary-color;

        .pagination__link {
          color: $dark-color;
        }
      }
    }
  }
}
