.pagination {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0.5rem;
      min-width: 2rem;
      min-height: 2rem;
      border-radius: 2rem;

      a {
        color: $primary-color;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:hover {
          color: $primary-color-light;
        }
      }

      &.active {
        background: $primary-color;

        a {
          color: $dark-color-2;
        }
      }
    }
  }
}
