.preview {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  header {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    .date-and-title {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;

      .date {
        font-family: "Hepta Slab", serif;
        color: $light-color-2;
        font-size: 0.8rem;
        font-style: italic;
        font-weight: normal;
      }

      h2 {
        line-height: 1.1;
        margin: 0;
        color: $light-color-1;
        font-size: 1.5rem;

        a {
          color: $light-color-1;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    aside {
      ul {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        gap: 0.25rem;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          a {
            display: inline-flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 0.5rem;
            padding: 0 0.6rem;
            font-size: 0.8rem;
            border-radius: 0.2rem;
            background: $dark-color-3;
            color: $light-color-1;

            &:hover {
              background: $dark-color-4;
            }

            .icon {
              color: $light-color-2;
            }
          }
        }
      }
    }

    @media (min-width: $desktop-breakpoint) {
      aside {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .read-link {
    a {
      display: inline-flex;
      align-items: center;
      gap: 0.2rem;
    }
  }
}
