.sidebar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  gap: 2rem;
  background: $dark-color-2;
  padding: 4.2rem 0;
}

@media (min-width: $desktop-breakpoint) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
  }
}
