.single {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  header {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    aside {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      border: 1px dashed $light-color-3;
      border-left: 0;
      border-right: 0;
      padding: 0.5rem 0;
      gap: 1rem;
      color: $light-color-2;

      .column {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 1rem;

        section {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          gap: 0.25rem;

          .title {
            font-family: "Hepta Slab", serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: italic;
            font-size: 1rem;
            color: $light-color-1;
            margin: 0;
          }

          .link-list {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            gap: 0.25rem;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              a {
                display: inline-flex;
                flex-wrap: nowrap;
                align-items: center;
                gap: 0.5rem;
                padding: 0 0.6rem;
                font-size: 0.8rem;
                border-radius: 0.2rem;
                background: $dark-color-3;
                color: $light-color-1;

                &:hover {
                  background: $dark-color-4;
                }

                .icon {
                  color: $light-color-2;
                }
              }
            }
          }
        }

        .table-of-contents {
          font-size: 0.8rem;

          ul {
            list-style-position: outside;
            margin: 0 1rem;
            list-style-type: "# ";
            padding-inline-start: 1rem;
            padding: 0;
          }
        }
      }
    }

    @media (min-width: $desktop-breakpoint) {
      aside {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
        padding: 0;

        .column {
          gap: 1rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;

          &:not(:last-child) {
            border-right: 1px dashed $light-color-3;
            padding-right: 1rem;
          }
        }
      }
    }
  }

  .content {
    h1 {
      // There shouldn't be h1's in content, make sure they are noticed.
      background-color: red;
      font-size: 3rem;
      text-transform: uppercase;
    }

    h2 {
      border-left: 1rem solid $primary-color;
      padding-left: 1rem;
      margin-left: -2rem;
    }

    a {
      text-decoration: underline;
      text-decoration-color: $light-color-2;
      text-underline-offset: 0.2rem;
    }

    img {
      max-width: 100%;
    }

    .heading-permalink {
      margin-left: 0.5rem;
      text-decoration: none;
      font-weight: normal;
      font-size: 0.8rem;
      vertical-align: middle;
      color: $light-color-3;
    }
  }
}
